{template 'common/header'}
<script language="javascript" src="../addons/awt_enroll/static/js/dist/mui/js/mui.min.js"></script>
<link href="../addons/awt_enroll/static/js/dist/mui/css/mui.min.css" rel="stylesheet"/>
<title>个人中心</title>
<style>
    .headImg {
        border-radius: 50%;
        height: 65px;
    }
    .weChatName{
        display: inline-block;
    }
    #basicInfo{
        margin: 60px 0 5px 0;
    }
    .left{
        position: relative;
        float: left;
    }
    .right{
        position: relative;
        float: right;
    }

</style>
<body>
<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">个人中心</h1>
</header>
<div id="container">
</div>
<script id="member_main" type="text/html">
    <div class="mui-content" id="basicInfo">
        <!--<div class="mui-card" style="margin-top: 60px">-->
            <!--<div class="mui-card-header" id="card">-->
                <!--<div class="left">-->
                    <!--<img class="wxavatar" src="<%weChatInfo.avatar%>">-->
                    <!--<div class="user">-->
                        <!--<span class="nickname"><%weChatInfo.nickname%></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="">-->
            <!--<button class="mui-btn" id="btn_binding" title="注册会员">注册会员</button>-->
        <!--</div>-->
        <div id="basicInfo_left" class="left">
            <img class="headImg" src="<% weChatInfo.avatar %>">
            <div id="weChatName" class="weChatName"><% weChatInfo.nickname%></div>
            <div id="cardNum">
                {if $clubInfo == null}
                <button class="mui-btn" id="btn_binding" title="注册会员">注册会员</button>
                {else}
                会员卡号：<% $clubInfo.cardNum %>
                {/if}
            </div>
        </div>
        <div id="basicInfo_right" class="right">

        </div>
    </div>
    <div class="mui-content" id="clubInfo">

    </div>
</script>
<script language="javascript">

    require(['tpl', 'core'], function (tpl, core) {
        core.json('member',{},function(json) {
            if(json.status) {
                console.log(json.result);
                $("#container").html(tpl("member_main",json.result));

//                document.getElementById("myActivity").addEventListener('click', function() {
//                    window.location.href = "{php echo $this->createMobileUrl('member/myActivity')}";
//                });

                $("#btn_binding").bind("click", function () {
                    window.location.href = "{php echo $this->createMobileUrl('member/card')}";
                });

            }else{
                $("#container").html(json.result.weChatInfo);
            }
        },true);
    })
</script>
{template 'common/footer'}
