/**
   the style about personal center
   added by Fu on 2018.02.23
 */
:root {
    --top-all: 50px;
}

* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    /*overflow: scroll;*/
}

.header {
    width: 100%;
    height: 45%;

    /*子元素居中显示*/
    align-items: center;
    display: flex;
    justify-content: center;

    /*filter: blur(2px); !*模糊效果*!*/

    background: url("../images/header_bg.jpg") no-repeat fixed;

    color: white; /*字体颜色*/

    position: relative;
    z-index: -1;
}
.header > .profile-main {
    width: 105px;
    height: 150px;

    text-align: center;

}

.profile-main > .user-profile {
    /*position: absolute;*/
    /*float: left;*/
    /*left: 36.5%;*/
    /*top: 10%;*/
    width: 100%;
    height: 105px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 2px 2px 20px steelblue;
    z-index: 10;
}
.user-profile > img {
    width: 100%;
    height: 100%;

    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    border-radius: 100%;
}
.weChatName {
    width: 100%;
    position: relative;
    font-weight: bold;
}
.location {
    font-weight: lighter;
    font-size: large;
    font-style: italic;
}

.header > .personalHonor{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.personalHonor > .personalRanking {
    position: relative;
    float: left;
    /*left: 0;*/

    width: 33%;
    height: 100%;
    padding: 5px;

    text-align: center;
}

.personalHonor > .nSingleTitles {
    position: relative;
    float: left;
    /*left: 33%;*/
    width: 34%;
    height: 100%;
    padding: 5px;
    text-align: center;
}

.personalHonor > .nDoubleTitles {
    position: relative;
    float: left;
    /*left: 66%;*/
    width: 33%;
    height: 100%;
    padding: 5px;
    text-align: center;
}

/*俱乐部基本信息*/
.basicClubInfo_main {
    position: relative;
    float: left;

    width: 100%;
    height: 110px;

    padding: 5px 10px 5px 10px;

}

.basicClubInfo_main > .basicClubInfo_left {
    position: relative;
    float: left;

    border-right: 1px solid lightgrey;

    width: 40%;
    height: 100px;
}

.basicClubInfo_main > .basicClubInfo_right {
    position: relative;
    float: right;

    width: 40%;
    height: 100px;
}
/*子元素选择器*/
.basicClubInfo_left > table {
    width: 100%;
    height: 100%;
    text-align: center;
}

.basicClubInfo_right > table {
    width: 100%;
    height: 100%;
    text-align: center;
}
/*后代选择器*/
.basicClubInfo_left th, .basicClubInfo_right th {
    width: 50%;
}

/*比赛记录和排名信息*/
.detailClubInfo_main {
    position: relative;
    float: left;

    width: 100%;
    height: 50px;

    margin: 2px 0 0 0;
    padding: 10px;

}

/*比赛记录*/
.detailClubInfo_main > .detailClubInfo_left {
    position:relative;
    float: left;

    width: 100%;
    height: auto;

    border-right: lightgrey 1px solid;

    text-align: center;
}

/*排名信息*/
.detailClubInfo_main > .detailClubInfo_right {
    position:relative;
    float: left;

    width: 100%;
    height: auto;

    text-align: center;
}

/*我的活动*/
.myActivity {
    position: relative;
    float: left;

    width: 100%;
    height: 50px;

    margin: 2px 0 0 0;
    padding: 10px;

}

/*会员卡号*/
.cardNum {
    position: relative;
    float: left;
    display: block;

    width: 100%;
    height: 50px;

    margin: 2px 0 0 0;
    padding: 10px;

    /*vertical-align: middle;*/

    /*!*阴影效果*!*/
    /*box-shadow: steelblue 1px 1px 2px;*/
    /*!*字体*!*/
    /*font-family: "Microsoft YaHei", Consolas,  sans-serif;*/
}

.cardNum > div {
    position: relative;
    float: left;
    /*display: inline-block;*/

    width: 100%;
    height: auto;

    padding: 2px;

    text-align: center;
}

/*common style*/
.shadow_posCenter_font {
    /*阴影效果*/
    box-shadow: steelblue 1px 1px 2px;

    /*子元素居中显示*/
    align-items: center;
    display: flex;
    justify-content: center;

    /*字体*/
    font-family: "Microsoft YaHei", Consolas,  sans-serif;

}